
html{
    background-image: url(/img/GsVB7j.jpg);
    background-repeat: no-repeat;
    background-size: auto;


}

body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    color: azure;
    
    
}
header{
    margin-top: 50px;
    line-height: 40px;
    width: 100vw;
    height: 30vh;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
}

main{
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.jogo-cp{
    
    position: relative;
    top: 50px;
}
.jogo-ppt{
    
    position: relative;
    top: 50px;
}
.jogo-ppt img{
   
    border-radius: 30%;
    width:35vw;
    height: 30vh;
    transition: transform 1s;
    transform: translateX() scale(0.2);
    position: relative;
    top: 40px;
}
.jogo-ppt:hover{

    transform: translateX(15px) scale(1.2);

}
.jogo-cp img{
   
    border-radius: 30%;
    width: 35vw;
    height: 30vh;
    transition: transform 1s;
    transform: translateX() scale(0.2);
    position: relative;
    top: 40px;
}
.jogo-cp:hover{

    transform: translateX(15px) scale(1.2);

}
@media screen and (min-width: 700px) {
    body{
   
        background-image: url(/img/GsVB7j.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        
        
        line-height: 200px;
        color: azure;
    }
    header{
        font-size: 30px;
        width: 100vw;
        height: 30vh;
        text-align: center;
        margin-top: 100px;
    }
    
    main{
    
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    
    .jogo-cp{
        position: relative;
        bottom: 50px;
    }
    .jogo-ppt{
        position: relative;
       
    }
    .jogo-ppt img{
       
        border-radius: 20%;
        width: 20vw;
        height: 20vh;
        transition: transform 1s;
        transform: translateX() scale(0.2);
        position: relative;
        top: 40px;
    }
    .jogo-ppt:hover{
    
        transform: translateX(15px) scale(1.2);
    
    }
    .jogo-cp img{
       
        border-radius: 20%;
        
        width: 20vw;
        height: 20vh;
        transition: transform 1s;
        transform: translateX() scale(0.2);
        position: relative;
        top: 40px;
    }
    .jogo-cp:hover{
    
        transform: translateX(15px) scale(1.2);
    
    }


}
