body {
    font-family: 'Press Start 2P', cursive;
}

.tabuleiro {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.main {
    width: 100%;
    height: 180px
}

#pedra {
    border: none;
    background-color: white;
    width: 100px;
    height: 105px;
    position: relative;
    top: 40px;
    transition: transform 0.5s;
    transform: translateX() scale(0.2);
}

#pedra:hover {
    transform: translateX(12px) scale(1.2);
}

img {
    width: 80%;
    height: 80%;
    cursor: pointer;
}

#papel {
    border: none;
    background-color: white;
    width: 100px;
    height: 105px;
    transition: transform 0.5s;
    transform: translateX() scale(0.2);
    position: relative;
    bottom: 40px;
}

#papel:hover {
    transform: translateX(12px) scale(1.2);
}

.btn-home {
    margin: 25px;
    width: 100px;
    height: 40px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background: white;
    border: 1px solid black;
    box-shadow: 5px 5px 0 black,
        -5px -5px 0 black,
        -5px 5px 0 black,
        5px -5px 0 black;
    transition: 500ms ease-in-out;
}

.btn-home:hover {
    box-shadow: 20px 5px 0 black, -20px -5px 0 black;
}

.btn-home :focus {
    outline: none;
}

#tesoura {
    border: none;
    background-color: white;
    width: 100px;
    height: 105px;
    transition: transform 0.5s;
    transform: translateX() scale(0.2);
    position: relative;
    top: 40px;
}

#tesoura:hover {
    transform: translateX(12px) scale(1.2);
}

a {
    display: flex;
    justify-content: center;
    text-decoration: none;
}

/*HEADER*/
header {
    width: 100vw;
    height: 15vw;
    background-color: aqua;
    padding: 5px;
}

header h1 {
    line-height: 20px;
    font-family: 'Press Start 2P', cursive;
    color: rgb(90, 86, 86);
    font-size: 15px;
    text-align: center;
    font-weight: 700;
}

h2 {
    text-align: center;
}

details {
    color: rgb(59, 55, 55);
    text-align: center;
    width: 100%;
    height: 50%;
    background-color: rgb(224, 96, 64);
    padding-bottom: 15px;
}

summary {
    color: black;
    text-align: center;
    height: 50%;
    background-color: turquoise;
    padding: 7px;
}

details p {
    margin-top: 15px;
    font-size: 14px;
    line-height: 18px;
}

/*Footer Botao de remover */
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer h3 {
    margin-bottom: 15px;
    text-align: center;
}

#reset {
    border: none;
    width: 100px;
    height: 55px;
    background-color: brown;
    color: rgb(223, 215, 215);
    border-radius: 30px;
    font-size: 12px;
    font-family: 'Press Start 2P', cursive;
}

/*ESCOLHA USUARIO*/
#resultadoHTML {
    text-align: center;
}

/*Desktop*/
@media screen and (min-width: 700px) {

    a {
        display: inherit;
        position: absolute;
    }

    header {
        width: 100vw;
        height: 4vw;
        background-color: aqua;
    }

    header h1 {
        line-height: 65px;
        font-size: 32px;
    }

    /*Imagens representativas*/
    .tabuleiro {
        margin-top: 100px;
        display: flex;
        justify-content: center;
    }

    .main {
        width: 100%;
        height: 380px
    }

    img {
        width: 80%;
        height: 80%;
    }

    #pedra {
        margin-right: 10px;
        border: none;
        background-color: white;
        width: 200px;
        height: 205px;
        transition: transform 0.5s;
        transform: translateX() scale(0.2);
        position: relative;
        top: 140px;
    }

    #pedra:hover {
        transform: translateX(12px) scale(1.2);
    }

    #papel {
        border: none;
        background-color: white;
        width: 200px;
        height: 205px;
        transition: transform 0.5s;
        transform: translateX() scale(0.2);
        position: relative;
        bottom: 50px;
    }

    #papel:hover {
        transform: translateX(12px) scale(1.2);
    }

    #tesoura {
        border: none;
        background-color: white;
        width: 200px;
        height: 205px;
        transition: transform 0.5s;
        transform: translateX() scale(0.2);
        position: relative;
        top: 140px;
    }

    #tesoura:hover {
        transform: translateX(12px) scale(1.2);
    }


    .btn-home {
        margin: 25px;
        width: 100px;
        height: 40px;
        cursor: pointer;
        font-size: 20px;
        font-weight: bold;
        color: black;
        background: white;
        border: 1px solid black;
        box-shadow: 5px 5px 0 black,
            -5px -5px 0 black,
            -5px 5px 0 black,
            5px -5px 0 black;
        transition: 500ms ease-in-out;
    }

    .btn-home:hover {
        box-shadow: 20px 5px 0 black, -20px -5px 0 black;
    }

    .btn-home :focus {
        outline: none;
    }

    /*Regras*/
    details {}

    summary {
        padding: 7px;
    }

    details p {
        margin-top: 15px;
        font-size: 16px;
    }

    /*Botao reset */
    #reset {
        border: none;
        width: 170px;
        height: 75px;
        background-color: brown;
        color: rgb(223, 215, 215);
        border-radius: 30px;
        font-size: 22px;
    }

    /*ESCOLHA USUARIO*/
    #escolhaUsuario {}

    #oPCescolheu {}

    #resultadoHTML {}
}